.main1 {
    background-color: red;
}

/* nav */

.main-nav-container {
    background-color: black;
    align-items: center;

}

.nav-wrapper  {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.box {
    display: flex;
    justify-self: flex-end;
}

h1 {
    font-family: 'Press Start 2P', cursive;
}

a {
    color: red;
    font-family: 'Wallpoet', cursive;

}

a:hover {
    color: blue;
    text-decoration: none;
}

h1 {
    font-family: 'Wallpoet', cursive;
    background-clip: text;
    background-color: #e62a2a;
    background-image: linear-gradient(45deg, #f39f78, #af4261);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;

}

/* nav end */

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.4);
}

.slides-navigation {
    z-index: 6;
}

.slides-navigation .prev,
.slides-navigation .next  {
    width: 47px;
    height: 47px;
    background-size: cover;
}

.slides-navigation a.prev {
    left: 20px;
    background-image: url(../images/icons/prev.png);
}

.slides-navigation a.next {
    right: 20px;
    background-image: url(../images/icons/next.png);
}

.titleMessage {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 5;
    text-align: center;
    margin-top: -125px;
}

.titleMessage .heading p {
    color: white;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    font-weight: 100;
    letter-spacing: 7px;
}

.titleMessage .heading .main {
    font-size: 50px;

}

.titleMessage .heading .sub {
    font-size: 34px;
    
}

.titleMessage .heading .sub-2 {
    font-size: 25px;
    
}

.ct-1 {
    color: lime;
    font-weight: bold;
}

.ct-2 {
    color: red;
    font-weight: bold;

}

.ct-3 {
    color: white;
    font-weight: bold;

}

/* bottom-section */

.box-container {
    /* display: flex;
    justify-content: center; */
    background-color: black;
    height: 54%;
    width: 100%;
}

.box-wrapper {
    display: flex;
    justify-content: space-around;
    padding-top: 9px;

} 

.box-wrapper > .box1 {
    background-color: #f1f1f1;
    
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.box1 {
    width: 175px;
    height: 131px
}

/* footer section */

footer {
    height: 25%;
    width: 100%;

    background-color: rgba(202, 165, 109, 0.438);
}

.sub-footer p {
    display: flex;
    justify-self: center;
    height: 10px;
    width: 20px;
    background-color: saddlebrown;
}

button {
    display: flex;
    justify-content: center;
}



/* footer section */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    background-color: black;
}

button {
    background-color: red;
    color: white;
    border: white;
    font-family: 'Wallpoet', cursive;

    border-radius: 7px;
}

button:hover {
    background-color:blue;
}